@import '../styles/config';
@mixin iconStyle {
  transition: all 0.5s ease-out;
  color: white;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}
.container {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1000px;
  align-items: center;
  gap: 2em;
  border: 1px solid $secondaryColor;
  padding: 30px;
  margin: 100px auto;

  &__values {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__box {
    font-size: 2em;
    font-family: 'Lora', serif;
    border: 1px solid $secondaryColor;
    width: 50px;
    height: 50px;
    text-align: center;
  }

  &__title {
    font-size: 2.1rem;
    border: none;
    text-align: center;
    width: 800px;
    font-weight: bold;
    word-wrap: break-word;
  }

  &__description {
    font-size: 2em;
    width: 800px;
    border: none;
    border-top: 1px solid $secondaryColor;
    text-align: center;
    inline-size: 800px;
    overflow-wrap: break-word;
    font-family: 'Lora', serif;
  }
}
