@import '../styles/config';
.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  font-size: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid;
  backdrop-filter: blur(5px);
  &_link {
    padding: 10px 20px;
    position: relative;
    text-align: center;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      top: 50%;
      margin-top: 15px;
      background: $secondaryColor;
    }

    &:before {
      left: 0px;
    }
    &:after {
      right: 0px;
      background: $secondaryColor;
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    &:hover:before {
      background: $secondaryColor;
      width: 100%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    &:hover:after {
      background: $secondaryColor;
      background: transparent;
      width: 100%;
      transition: 0s;
    }
  }
}
.active {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    margin-top: 15px;
    background: $secondaryColor;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    margin-top: 15px;
    background: $secondaryColor;
  }

  &:before {
    left: 0px;
  }
  &:after {
    right: 0px;
  }
}
