@import '../styles/config';
@mixin iconStyle {
  all: unset;
  transition: all 0.5s ease-out;
  color: white;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 450px;
  border: 1px solid $secondaryColor;
  padding: 30px;
  margin: 10px 5px;

  &__box {
    border: 1px solid $secondaryColor;
    width: 25px;
    height: 25px;
    text-align: center;
  }

  &__title {
    text-align: center;
    width: 400px;
    font-weight: bold;
    font-size: 1.2rem;
    word-wrap: break-word;
  }

  &__description {
    margin-top: 20px;
    word-wrap: break-word;
    width: 400px;
    border-top: 1px solid $secondaryColor;
    padding-top: 20px;
    text-align: center;
  }
  &:hover &__delete {
    color: black;
  }
  &:hover &__edit {
    color: black;
  }

  &__delete {
    @include iconStyle;
    position: absolute;
    right: 7px;
    top: 10px;
  }
  &__edit {
    @include iconStyle;
    position: absolute;
    right: 30px;
    top: 10px;
  }
}
